.btn-black{
    background: transparent !important;
    font-size: 0.8rem !important;
    color: black !important;
    border-radius: 0 !important;
    border: 0.1rem solid black !important;
  }
  
  .btn-black:hover{
    background: black !important;
    color: azure !important;
  }
  .cart-icon{
    cursor: pointer;
    font-size: 1.2rem;
    color: yellow;
  }
    