.Cartitems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    

}

.shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}